.np-section-header--container {
  width: 100%;
  margin: 0 var(--size-16);
  padding: var(--size-16) 0;
  border-bottom: 1px solid var(--color-border-neutral);
}

.np-section-header--title {
  color: var(--color-text-secondary);
}
