.np-accordion-item {
  display: block;
  width: 100%;

  &--open {
    .media {
      padding-bottom: var(--size-16);
      border: 0;
    }
  }

  &.np-accordion-item--dark {
    .media-body,
    .h5 {
      color: var(--color-text-control);
    }
  }
}

.np-accordion-item__content {
  padding: var(--size-24) 0;
  margin: calc(var(--size-24) * -1) var(--size-16) 0 var(--size-16);
  border-bottom: 1px solid var(--color-border-neutral);

  &.icon-left {
    padding-left: var(--size-56);
  }

  &.icon-right {
    padding-right: var(--size-56);
  }
}
